.currency-selector {
  position: relative;
  top: 1050px;
  right: 250px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 0px;
}

.currency-selector img {
  width: 20px;
  height: 20px;
}
